@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
}



/* shared style part start here */
.display_flex{
    display: flex;
}
  /* dark 01 */
.text_dark_gray
  /* dark 02 */
.text_gray{
    color:rgb(66, 66, 66) ;
}
 /* dark 03 */
.text_deep_gray{
    color:rgb(114, 114, 114) ;
}
.bg_clr{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 50px 0;
}
.banner, .navbar{
    max-width: 1440px;
    margin: 0 auto;
}
.btn_cmn{
    background-color: rgb(255, 144, 14);
    color: white;
    border: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.section_title{
    font-size: 2.8em;
    font-weight: 700;
}
/* navbar style start here */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav_item{
   list-style: none;
   margin-right: 30px;
}
.nav_link{
    text-decoration: none;
    font-weight: 500;
}

/* banner relatate  */

.banner_content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
    
}
.banner_title{
    font-size:4rem;
    font-weight: 700;
   
}
.banner_details{
    font-size: 1rem;
    color: rgb(114, 114, 114);
    margin: 30px 0;
    
}
.banner_img img{
    width: 100%;
}

/* feature part start here */
.teams{
    justify-content: space-between;
    align-items: center;
}
.team_img_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our_feature{
    margin-left: 130px;
    max-width: 530px;
}

#first{
  color:rgb(114, 114, 114) ;
}
#second{
    color:rgb(19, 19, 19);
}
#third{
    color: rgb(255, 144, 14);
}
.feature_description{
    color: rgb(114, 114, 114);
    margin: 30px 0;
}
/* feature part end here */

/* facts part start here  */

.facts_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 100px;
}
.fact_card{
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(255, 144, 14);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.fact_number{
    font-size: 2.8em;
    font-weight:600 ;
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgb(66, 66, 66);
}
.fact_name{
    font-size: 1.3em;
    font-weight: 600px;
    color: rgb(114, 114, 114);
}

/* facts part end here  */










/* responsive part start here  */
@media screen and ( max-width: 576px){
  .navbar, .nav_link{
    flex-direction: column;
  }
  .teams{
    flex-direction: column-reverse;
  }
  .team_img_container{
    margin-top: 30px;
    grid-template-columns: repeat(1,1fr);
  }
  .our_feature{
      margin-left: 20px;
    }
  .facts_container{
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 20px;
    }
  .fact_description{
    margin: 20px;
  }

    
 
}

@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column-reverse;
        margin-top: 30px;
    
    }
    .our_feature{
        margin:30px auto;
    }
    .team_img_container{
        gap: 60px;

    }
}